*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}

html{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

body{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 auto;
  background: #343442;
  color: #fff;
  user-select: none;
}

h2{
  text-align: center;
}

#img-h{
  border: 0;
}

button{
  background: transparent;
  border: 0;
  outline: none;
}

header{
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

header nav{
  margin: 0 auto;
  text-align: center;
}

header nav ul{
  display: flex;
  flex-direction: row;
  text-align: right;
}

header h1{
  margin: 4.4px 0 0 2px;
}

header nav ul a{

  /* superior, direito, inferior e esquerdo */
  margin-top: 15px;
  padding: 0 0 0 10%;
  text-align: right;
  list-style: none;
}

.gsf input{
  outline: none;
  width: 30%;
}

.gsf{
  /* Colocando efeito de vidro */
  background: rgba(255,255,255,0.100);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  
  /* colocando a sombra */
  -webkit-box-shadow: 5px 5px 16px 1px rgba(0,0,0,0.14); 
  box-shadow: 5px 5px 16px 1px rgba(0,0,0,0.14);
  
  /* Ajustando as bordas*/
  border-radius: 3px;
  width: 50%;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}

.gsf input[type="submit"] {
  background: #0073ff;
  width: 85%;
  border: 0;
  color: #fff;
  border-radius: 3px;
  font-size: 15px;
}

#rst{
  /* Colocando efeito de vidro */
  background: rgba(255,255,255,0.100);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  
  /* colocando a sombra */
  -webkit-box-shadow: 5px 5px 16px 1px rgba(0,0,0,0.14); 
  box-shadow: 5px 5px 16px 1px rgba(0,0,0,0.14);
  
  /* Ajustando as bordas*/
  border-radius: 3px;
  width: 60%;
  padding: 4px;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
}

#rst .trues{
  background: #0073ff;
  font-size: 14px;
  padding: 3px;
  color: #fff;
  margin: 3px;
  border: 0;
  border-radius: 3px;
}

#rst .falses{
  background: #FF0000;
  font-size: 14px;
  padding: 3px;
  color: #fff;
  margin: 3px;
  border: 0;
  border-radius: 3px;
}

.trye{
  background: #0073ff;
  font-size: 14px;
  padding: 3px;
  color: #fff;
  margin: 3px;
  border: 0;
  border-radius: 3px;
}

.falsy{
  background: #FF0000;
  font-size: 14px;
  padding: 3px;
  color: #fff;
  margin: 3px;
  border: 0;
  border-radius: 3px;
}

#aln{
  width: 95%;
  outline: none;
}
