<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="../static/css/alunos.css">
  
</head>

<body>
  <header>
    <h1>KyClass</h1>
    <nav>
      <ul>
        <a><li>Ínicio</li></a>
        <a><li>Notas</li></a>
        <a><li>Outros</li></a>
      </ul>  
    </nav>
  </header>
  <div class="opt">
    <h3>Opções/Filtro</h3>
    <hr>
    <div class="opns">
      <select id="materia">
        <option>Matemática</option>
        <option>Ciências</option>
      </select>
      <select id="turma">
        <option>9V1</option>
        <option>9V2</option>
        <option>7V2</option>
      </select>
      <select id="school">
        <option>HTA</option>
        <option>Rômulo</option>
        <option>Cemac/Saubara</option>
      </select>
    </div>
  </div>
  <main>
    <ul>
      <li>Yasmin</li>
      <li>Gabriel</li>
      <li>Gustavo</li>
      <li>Antonele</li>
      <li>Tayna</li>
      <li>Maria Klara</li>
      <li>José Alexandre</li>
      <li>Daniel</li>
    </ul>
  </main>
</body>

</html>
