<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/estilo.css">
  <title>Cadastro</title>
</head>

<body>
  <h1>Seja bem vindo</h1>
  <h3>Que bom que você se interessou no nosso site! Saiba que você é sempre bem vindo!</h3>
  
  
  <div class="container">
    <h2>Cadastro - Educador(a)</h2>
    <form>
      <div class="fg">
        <label>Nome de usuário</label>
        <input type="text" name="user" id="username">
      </div>
      <div class="fg">
        <label>E-mail</label>
        <input type="email" name="emd" id="email">
      </div>
      <div class="fg">
        <label>Senha</label>
        <input type="password" name="pass" id="senha">
      </div>
      <input type="button" value="Cadastrar-se">
    </form>
  </div>
  
  <div class="container">
    <h2>Cadastro - Aluno(a)</h2>
    <form>
      <div class="fg">
        <label>Nome de usuário</label>
        <input type="text" name="user" id="username">
      </div>
      <div class="fg">
        <label>E-mail</label>
        <input type="email" name="emd" id="email">
      </div>
      <div class="fg">
        <label>Senha</label>
        <input type="password" name="pass" id="senha">
      </div>
      <input type="button" value="Cadastrar-se">
    </form>
  </div>
  <div class="container link">
    <a href="#">Já tem uma conta?</a>
    
  </div>
  
</body>

</html>
