<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="../static/css/cad.css">
</head>

<body>
  <header>
    <h1>KyClass</h1>
    <nav>
      <ul>
        <a><li>Início</li></a>
        <a><li>Login</li></a>
        <a><li>Anúncio</li></a>
      </ul>
    </nav>
  </header>
  <h2>Cadastro</h2>
  <main>
    <h3>Escola</h3>
    <form>
      <div class="form-g">
        <label>Nome da escola</label>
        <input type="text" class="it" name="namee">
      </div>
      <div class="form-g">
        <label>Localização</label>
        <input type="text" class="it" name="citye">
      </div>
      <div class="form-g">
        <label>Nome da Diretora(or)</label>
        <input type="text" class="it" name="dire">
      </div>
      <div class="form-g">
        <label>Senha</label>
        <input type="password" class="it" name="senhae">
      </div>
      <input type="submit" value="Cadastrar Escola">
    </form>
    <hr>
    <h3>Professora</h3>
    <form>
      <div class="form-g">
        <label>Seu nome</label>
        <input type="text" class="it" name="nomep">
      </div>
      <div class="form-g">
        <label>Idade</label>
        <input type="number" class="in" name="idadep">
      </div>
      <div class="form-g">
        <label>Escola</label>
        <input type="number" class="in" name="escolap">
      </div>
      <div class="form-g">
        <label>Senha</label>
        <input type="password" class="it" name="senhae">
      </div>
      <input type="submit" value="Cadastrar-se">
    </form>
    <hr>
    <h3>Aluno</h3>
    <form>
      <div class="form-g">
        <label>Nome de usuário</label>
        <input type="text" class="it" name="nomea">
      </div>
      <div class="form-g">
        <label>Idade</label>
        <input type="number" class="in" name="idadea">
      </div>
      <div class="form-g">
        <label>Senha</label>
        <input type="password" class="it" name="senhae">
      </div>
      <input type="submit" value="Cadastrar-se">
    </form>
  </main>
</body>

</html>
