<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/forum.css">
  <title>Fórum</title>
</head>

<body>
  <header>
    <h1>KyClass</h1>
    <nav>
      <ul>
        <a><li>Início</li></a>
        <a><li>Fórum</li></a>
        <a><li>Configurações</li></a>
      </ul>
    </nav>
  </header>
  <h3 style="color: #000;">Conversa Ao Vivo</h3>
  <main class="container">
    <div class="msg">
      <p><strong>Guxtavo.</strong></p>
      <span>Meu pau</span>
    </div>
  </main>
  <div id="senda" class="container">
    <input placeholder="Digite aqui sua mensagem" type="text" class="input-t" name="nova" id="msg-nv">
    <button class="send">
      Enviar
    </button>
  </div>

</body>

</html>
