<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Página Inicial</title>
</head>

<body>
  <header>
    <h1>KyClass</h1>
    <nav>
      <ul>
        <a><li>Início</li></a>
        <a><li>Fórum</li></a>
        <a><li>Configurações</li></a>
      </ul>
    </nav>
  </header>
  <main class="container">
    <h3>Últimas Atualizações</h3>
    <ul>
      <li>Novo design</li>
      <li>Novas Funções</li>
    </ul>
  </main>
  <div class="container">
    <h3>Motivação Do Dia</h3>
    <p>Melhor estar fudido, do que estar na merda.</p>
  </div>
  <div class="container">
    <h3>Atividades</h3>
    <ul>
      <li>Inglês - Atividade para 21/10</li>
      <li>Geografia - Prova 22/10</li>
    </ul>
    <button>Agendar Atividade/Prova</button>
  </div>
  <div class="container">
    <h3>Turma cadastrada</h3>
    <p>HTA - 9V1</p>
  </div>
  <div class="container">
    <h3>Dica do dia</h3>
    <p>Utilize o método pômodoro</p>
  </div>
  <div class="container">
    <h3>Dica de Inglês</h3>
    <p>Taltaltal</p>
  </div>
  

</body>

</html>
