<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ínicio</title>
  <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
  <header>
    <h1>KyClass</h1>
    <nav>
    <ul>
      <a><li>Ínicio</li></a>
      <a><li>Notas</li></a>
      <a><li>Outros</li></a>
    </ul>  
    </nav>
  </header>
  <main>
    <div class="ts aln">
      <h4>Últimos alunos</h4>
      <ul>
        <li>Gabriel</li>
        <li>Gustavo</li>
        <li>Tayna</li>
        <li>Rebeca</li>
      </ul>
    </div>
    <div class="ts nts-m">
      <h4>Maiores notas</h4>
      <ul>
        <li>Antonelli</li>
        <li>Gustavo</li>
        <li>Miguel</li>
      </ul>
    </div>
    <div class="ts aulas-p">
      <h4>Próximas Aulas</h4>
      <ul>
        <li>Matemática - 18h</li>
        <li>Ciências - 20h</li>
        <li>Português - 15h</li>
      </ul>
    </div>
  </main>
  <!-- Lugar onde vai estar os assuntos que a prof ta trabalhando -->
  <div class="assn">
    <h2 style="text-align: center;">Assuntos</h2>
    <div id="assunto">
      <h4>Matemática - Escola - Turma</h4>
      <p>Potência - Assunto Complementar</p>
    </div>
    <div id="assunto">
      <h4>Ciencias - Escola - Turma</h4>
      <p>Velocidades - Assunto Complementar</p>
    </div>
    <div id="assunto">
      <h4>Geografia - Escola - Turma</h4>
      <p>Relevo - Assunto Principal</p>
    </div>
  </div>
  <footer>
    
  </footer>
</body>

</html>
