<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/estilo.css">
  <title>Entrar</title>
</head>

<body>
  <h1>Seja bem vindo de volta</h1>
  <h3>Que bom que você voltou ao site! Você é sempre bem vindo!</h3>
  
  
  <div class="container">
    <h2>Login - Educador(a)</h2>
    <form>
      <div class="fg">
        <label>Nome de usuário</label>
        <input type="text" name="user" id="username">
      </div>
      
      <div class="fg">
        <label>Senha</label>
        <input type="password" name="pass" id="senha">
      </div>
      <input type="button" value="Entrar">
    </form>
  </div>
  
  <div class="container">
    <h2>Login - Aluno(a)</h2>
    <form>
      <div class="fg">
        <label>Nome de usuário</label>
        <input type="text" name="user" id="username">
      </div>
    
      <div class="fg">
        <label>Senha</label>
        <input type="password" name="pass" id="senha">
      </div>
      <input type="button" value="Entrar">
    </form>
  </div>
  <div class="container link">
    <a href="#">Não tem uma conta?</a>
    
  </div>
</body>

</html>
