<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mais...</title>
  <link rel="stylesheet" href="../static/css/out.css">
</head>

<body>
  <header>
    <h1>KyClass</h1>
    <nav>
      <ul>
        <a><li>Ínicio</li></a>
        <a><li>Notas</li></a>
        <a><li>Outros</li></a>
      </ul>  
    </nav>
  </header>
  <main>
    <div class="usd">
      <img src="../static/img/icon-home.png">
      <h4>Início</h4>
    </div>
    <div class="usd">
      <img src="../static/img/icon-user.png">
      <h4>Alunos</h4>
    </div>
    <div class="usd">
      <img src="../static/img/icon-cor.png">
      <h4>Correcão Provas</h4>
    </div>
  </main>
</body>

</html>
