<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="../static/css/perfil.css">
</head>

<body>
  <header>
    <h1>KyClass</h1>
    <nav>
      <ul>
        <a><li>Ínicio</li></a>
        <a><li>Notas</li></a>
        <a><li>Outros</li></a>
      </ul>  
    </nav>
  </header>
  <div id="perfil" class="jsp">
    <h2>Gustavo Barros da Rocha</h2>
    <p>14 anos | Novato | Bom</p>
  </div>
  <div id="reali" class="jsy">
    <h4>Desempenho e Atividades</h4>
    <hr>
    <p>Trabalhos: 3/5</p>
    <p>Atividades: 7/15</p>
    <p>Presença: 25/30</p>
    <p>Nota: 10</p>
  </div>
  <div id="reali" class="jsy">
    <h4>Observações Do Aluno</h4>
    <hr>
    <p>Brinca dms</p>
    <p>Usa mt o cll</p>
  </div>
  <canvas id="myChart" width="400" height="200"></canvas>
  <script src="../static/js/chart.min.js"></script>
  <script src="../static/js/script.js"></script>
</body>

</html>
