<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/settings.css">
  <title>Configurações</title>
</head>

<body>
  <header>
    <h1>KyClass</h1>
    <nav>
      <ul>
        <a><li>Início</li></a>
        <a><li>Fórum</li></a>
        <a><li>Configurações</li></a>
      </ul>
    </nav>
  </header>
  <h2>Configurações</h2>
  <main>
    <div class="prt">
      <h3>Conta</h3>
      <hr>
      <form>
        <div class="fg">
          <label>Nome de usuário</label>
          <input name="username" id="user" type="text" class="input">
        </div>
        <div class="fg">
          <label>E-mail</label>
          <input name="email" id="goo" type="email" class="input">
        </div>
        <div class="fg">
          <label>Senha</label>
          <input name="password" id="pass" type="password" class="input">
        </div>
        <button>Entrar em Sala</button>
        <button>Criar sala</button>
      </form>
    </div>
    <div class="prt">
      <h3>Aparência</h3>
      <hr>
      <form>
        <div class="fg">
          <label>Cor de fundo</label>
          <input type="color" id="back" >
        </div>
        <div class="fg">
          <label>Cor das letras</label>
          <input type="color" id="text-color">
        </div>
        <div class="fg">
          <label>Tamanho das letras(px)</label>
          <input type="number" id="letras" class="input">
        </div>
        <div class="fg">
          <label>Fonte de letras</label>
          <select>
            <option>Arial</option>
            <option>Helvetica</option>
            <option>Roboto</option>
          </select>
        </div>
      </form>
    </div>
  </main>
  <footer>
    <h3>Sala participando:</h3>
    <div>
      <p><strong>Nome: </strong>Sala dos fofoqueiro</p>
      <p><strong>Turma: </strong>9V1</p>
      <p><strong>Professor: </strong>Sim</p>
    </div>
    
  </footer>
</body>

</html>
